@page "/questionaries"
@using BlazorPOC2.Shared.Models
@inject HttpClient Http

@if (questions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    if (isDisplayBack)
    {
        <button class="btn btn-primary" @onclick="() => OnNextOrBack(-1)"> Back </button>
    }
    <div class="question-center">
        @if (question != null)
        {

            <h5>@displayIndex  @question.Text </h5>
            if (componentType != null)
            {
                <DynamicComponent Type="componentType" Parameters="componentParams"></DynamicComponent>
                <br />
            }
            if (isDisplayNext)
            {
                <button class="btn btn-primary" disabled=@IsDisabled @onclick="() => OnNextOrBack(1)"> Next </button>
            }
            if (isDisplayCountinue)
            {
                <button class="btn btn-primary" disabled=@IsDisabled> Countinue </button>
            }
        }
    </div>
}


