@using BlazorPOC2.Shared.Models


<div class="form-group">
    <InputSelect class="form-control" @bind-Value="@question.Answer" @oninput="OnInputTextChanged">
    <option value="" selected>(Choose)</option>
    @foreach (var option in question.Options)
    {
            <option value="@option.Text"> @option.Text</option>
    }
</InputSelect>
</div>

@code {

    [Parameter]

    public Question question { get; set; }

    [Parameter]
    public EventCallback<ChangeEventArgs> OnInputTextChanged { get; set; }

}
