@using BlazorPOC2.Shared.Models
<div class="col-4">
<InputText class="form-control" @bind-Value = "@question.Answer"> </InputText>
</div>
@code {
    [Parameter]

    public Question question { get; set; }
}
