@using BlazorPOC2.Shared.Models
<div class="col-4">
<InputTextArea class="form-control" @bind-Value="@question.Answer"> </InputTextArea>
</div>
@code {
    [Parameter]

    public Question question { get; set; }
}